@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Roboto+Mono:wght@400;700&display=swap');

body {
    color: #000000;
    font-family: "Roboto Mono";
    font-size: 14px;
    font-weight: 400;
}
div {
    display: block;
    box-sizing: border-box;
}
p {
    margin: 0;
}
.wrapper {
    max-width: 700px;
    width: 90%;
    margin: 0 auto;
    padding: 36pt 0;
}
.row {
    width: 100%;
    display: flex;
    gap: 51px;
}
.col-small  {
    flex-basis: 220px;
}
.col-large {
    flex-basis: calc(100% - 220px);
}
.info-box p {
    max-width: 300px;
}
.page-title {
    font-family: "Press Start 2P";
    color: #ea9999;
    font-weight: 700;
    font-size: 34px;
}
.page-subtitle {
    max-width: 230px;
    margin-top: 12px;
    font-size: 20px;
}
.divider {
    margin: 24px 0;
    font-size: 20px;
    font-weight: 700;
    color: #0000ff;
}

.subhead {
    margin-bottom: 16px;
    font-size: 16px;
}

.col-group {
    margin-top: 12px;
    max-width: 560px;
}

label {
    display: block;
    margin-bottom: 4px;
    text-transform: uppercase;
}
h3 {
    margin-bottom: 2px;
    font-size: inherit;
    font-weight: inherit;
}
.text-gray {
    color: #666666;
}
.text-medium {
    font-size: 11px;
}
.text-small {
    font-size: 10px;
}
.mt-10 {
    margin-top: 10px;
}
.list {
    max-width: 300px;
}

@media screen and (max-width: 768px) {
    .row {
        flex-direction: column;
    }
    .col-small {
        flex-basis: auto;
    }
}

@media screen and (max-width: 560px) {
    .row {
        gap: 33px;
    }
}